<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="shortcut icon" href="templates/dvd.png" type="image/x-icon">
    <title>DII X VINDRA</title>
</head>
<body>
    <div class="container">
        <h1>OTP GOIB V3</h1>
        <form method="post">
            <label for="phone_number">Nomor Awalan Dari 8:</label>
            <input type="text" id="phone_number" name="phone_number" required>
            <button type="submit" onclick="sendOtp()">Kirim OTP</button>
        </form>
        {% if respound %}
            <div class="respound-message">
            </div>
        {% endif %}
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

  <footer class="footer">
            <section class="right-content">
               <div class="legal-content">
                  <a href="syarat.html" class="legal-content__text">Syarat & Ketentuan</a>
                  <p class="legal-content__copyright">&copy; Copyright 2024 - Dii</p>
               </div>
            </section>
         </div>
      </div>
   </footer>
  <script>
        function sendOtp() {
            // Implement your logic to send OTP here
            alert('OTP dikirim! Powered By Dii X Vindra 🔥🔥🔥');
        }
    </script>
</body>
</html>
